<ion-view view-title="GoogleMaps">
  <ion-content class="padding">
    <!-- ionic search bar -->
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input name="searchLocal" ng-model="searchLocal" type="text" placeholder="Digite uma nova localidade">
        </label>
        <button ng-click="applySearch(searchLocal)" class="button button-small">
          Pesquisar
        </button>
      </div>
    </div>
      
    <!-- where we render the maps -->
    <div id="google-maps" data-tap-disabled="true"></div>
  </ion-content>
</ion-view>
